<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZfAuR57P3VORGP0ir2UbsuqC3Al9SMRs</string>
	<key>GCM_SENDER_ID</key>
	<string>250743790497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGrocery</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-9c256</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-9c256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250743790497:ios:abfb3c9ef081bebc5fc9e0</string>
</dict>
</plist>